# POSTGRES
DB_USER=db-admin
DB_PASSWORD=T8<BZ%>{*t9jJ.K=LNYvG~
DB_NAME=delivery-cub
DB_HOST=db  # For docker
DB_PORT=5432

# SERVER
DEBUG=True
SECRET_KEY=tXxTMbU.=Nu7$?CAGPLqS8_&p*25/Da4:k~-6RWBJH}d!Vj)
DJANGO_ADMIN_NAME=admin
DJANGO_ADMIN_PASSWORD=KkhS789()a(88$51**&
DJANGO_ADMIN_EMAIL=admin@amin.ru