# POSTGRES
export DB_USER=db-admin
export DB_PASSWORD=I-Am-db-Password-123
export DB_NAME=delivery-cub
export DB_HOST=db  # For docker
export DB_PORT=5432

# SERVER
export DEBUG=True
export SECRET_KEY=super-megA-Secret-Key
export DJANGO_ADMIN_NAME=admin
export DJANGO_ADMIN_PASSWORD=KkhS789()a(88$51**&
export DJANGO_ADMIN_EMAIL=admin@amin.ru